{
  "openapi": "3.0.1",
  "info": {
    "title": "Truv API",
    "description": "Truv API Documentation",
    "termsOfService": "https://www.truv.com/legal/terms-of-use",
    "contact": {
      "email": "support@truv.com"
    },
    "license": {
      "name": "BSD License"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://prod.truv.com/"
    }
  ],
  "security": [
    {
      "ClientID": [],
      "AccessKey": []
    }
  ],
  "paths": {
    "/v1/bridge-tokens/": {
      "post": {
        "tags": [
          "Bridge Token"
        ],
        "summary": "Create a bridge token",
        "description": "\nThe endpoint returns a bridge token. This is typically the endpoint called before         initializing the Bridge since the response from this call is passed to the TruvBridge.init function.\n",
        "operationId": "v1_bridge-tokens_create",
        "requestBody": {
          "description": "Bridge token properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BridgeTokenCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BridgeTokenCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/companies/": {
      "get": {
        "tags": [
          "Companies and Data Providers"
        ],
        "summary": "List all companies",
        "description": "The endpoint returns a list of companies. Requires special approval to use.",
        "operationId": "company_mapping_list",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyMappingList"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies and Data Providers"
        ],
        "summary": "Search companies",
        "description": "\nThe endpoint returns the `company_mapping_id` for a company if it exists. This `company_mapping_id`         can be passed to the `/bridge-tokens` endpoint to have the user skip the company selection step and suggest         a data provider.",
        "operationId": "company_mapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "request_body",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Company name",
                    "example": "Google"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Company domain",
                    "example": "google.com"
                  },
                  "ein": {
                    "type": "string",
                    "description": "Company EIN",
                    "example": "770493581"
                  },
                  "address": {
                    "required": [
                      "city",
                      "street",
                      "zip"
                    ],
                    "type": "object",
                    "properties": {
                      "street": {
                        "type": "string",
                        "description": "Company location street",
                        "example": "1600 Amphitheatre Pkwy"
                      },
                      "city": {
                        "type": "string",
                        "description": "Company location city",
                        "example": "Mountain View"
                      },
                      "state": {
                        "type": "string",
                        "description": "Company location state",
                        "example": "CA"
                      },
                      "zip": {
                        "type": "string",
                        "description": "Company location zip code",
                        "example": "94043"
                      }
                    },
                    "description": "Company location address object"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Company phone number",
                    "example": "6503087300"
                  },
                  "id": {
                    "type": "string",
                    "description": "Company ID",
                    "example": "d94df7ecffcb4b218ab2dbff70e7cda8"
                  },
                  "product_type": {
                    "type": "string",
                    "description": "Product type for success rate calculation",
                    "enum": [
                      "income",
                      "employment",
                      "deposit_switch",
                      "pll"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company_mapping_id": {
                      "type": "string",
                      "description": "Company to Payroll Provider mapping ID",
                      "example": "48427a36d43c4d5aa6324bc06c692456"
                    },
                    "name": {
                      "type": "string",
                      "description": "Company name",
                      "example": "Facebook Demo"
                    },
                    "domain": {
                      "type": "string",
                      "description": "Company domain",
                      "example": "facebook.com"
                    },
                    "logo_url": {
                      "type": "string",
                      "description": "URL to company logo",
                      "example": "https://citadelid-resources.s3-us-west-2.amazonaws.com/facebook.png"
                    },
                    "success_rate": {
                      "type": "string",
                      "description": "Success rate for the company",
                      "example": "high",
                      "enum": [
                        "low",
                        "high",
                        "unsupported"
                      ]
                    },
                    "confidence_level": {
                      "type": "string",
                      "description": "Confidence level for the company success rate. Range of possible values is from 0 to 1 with 0.5 and above being high success rate",
                      "example": "0.9"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/company-mappings-search/": {
      "get": {
        "tags": [
          "Companies and Data Providers"
        ],
        "summary": "Search companies with autocomplete",
        "description": "The endpoint provides company search using prefix.",
        "operationId": "company_autocomplete_search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Face"
            }
          },
          {
            "name": "product_type",
            "in": "query",
            "description": "Product type for success rate calculation",
            "schema": {
              "type": "string",
              "enum": [
                "income",
                "employment",
                "deposit_switch",
                "pll"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyMappingSearchResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/": {
      "post": {
        "tags": [
          "Document upload"
        ],
        "summary": "Create document credentials for uploading to AWS S3 storage.",
        "description": "The endpoint returns the data required for uploading documents for further parsing.",
        "operationId": "create_document_sign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentPresignedPostCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentPresignedPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/documents/tasks/": {
      "post": {
        "tags": [
          "Document upload"
        ],
        "summary": "Create a new document parsing task",
        "description": "The endpoint returns task details.",
        "operationId": "create_new_task",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "document_id"
                ],
                "type": "object",
                "properties": {
                  "document_id": {
                    "title": "Document ID",
                    "type": "string",
                    "example": "ffba27447d8e4285b7bdb4a6ec76db5c"
                  },
                  "tracking_info": {
                    "title": "Tracking info",
                    "maxLength": 255,
                    "type": "string"
                  },
                  "product_type": {
                    "title": "Type",
                    "type": "string",
                    "example": "employment",
                    "enum": [
                      "employment",
                      "income"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/documents/tasks/{task_id}/": {
      "get": {
        "tags": [
          "Document upload"
        ],
        "summary": "Get document parsing task status",
        "description": "The endpoint returns task status.",
        "operationId": "get_task_status",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadRetrieveTask"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invoices/": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List all invoices",
        "description": "The endpoint returns a list of invoices.",
        "operationId": "invoices_list",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "Filter by year",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invoices/{id}/": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve an invoice",
        "description": "The endpoint returns an invoice.",
        "operationId": "invoices_detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique value identifying this invoice.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/link-access-tokens/": {
      "post": {
        "tags": [
          "Account Links"
        ],
        "summary": "Retrieve a link token",
        "description": "Exchange a bridge public_token for a link access_token.",
        "operationId": "link_exchange_token_flow",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "request_body",
                "required": [
                  "public_token"
                ],
                "type": "object",
                "properties": {
                  "public_token": {
                    "type": "string",
                    "description": "Public token for an exchange",
                    "example": "48427a36d43c4d5aa6324bc06c692456"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkAccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/links/": {
      "get": {
        "tags": [
          "Account Links"
        ],
        "summary": "List all links",
        "operationId": "links-list",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinksListResponse"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/reports/insurance/": {
      "post": {
        "tags": [
          "Insurance Reports"
        ],
        "summary": "Retrieve an insurance report",
        "description": "The endpoint returns the Insurance report.",
        "operationId": "insurance_report",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "request_body",
                "required": [
                  "access_token"
                ],
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "Access Token",
                    "example": "48427a36d43c4d5aa6324bc06c692456"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceReport"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/links/{link_id}/": {
      "get": {
        "tags": [
          "Account Links"
        ],
        "summary": "Retrieve a link",
        "operationId": "links-item",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account Links"
        ],
        "summary": "Delete a link",
        "description": "The endpoint removes a link and all associated data.",
        "operationId": "delete_link_by_link_id",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Empty body",
            "content": {}
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/balances/": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List all balances",
        "description": "The endpoint allows developers to receive balances.",
        "operationId": "balances-list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/bank_accounts/": {
      "get": {
        "tags": [
          "Bank Accounts"
        ],
        "summary": "List all bank accounts",
        "description": "List of all bank accounts used for the direct deposit",
        "operationId": "link-bank-accounts",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/direct_deposit/report/": {
      "get": {
        "tags": [
          "Deposit Switch Reports"
        ],
        "summary": "Retrieve a direct deposit switch report for a link",
        "description": "The endpoint returns the DDS report for a link",
        "operationId": "link_detail_reports_dds",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DDSDetail"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/documents/": {
      "get": {
        "tags": [
          "Uploaded Documents"
        ],
        "summary": "List all documents",
        "description": "The endpoint returns a list of documents.",
        "operationId": "list-documents",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/documents/{doc_id}/": {
      "get": {
        "tags": [
          "Uploaded Documents"
        ],
        "summary": "Retrieve document",
        "description": "The endpoint returns a document.",
        "operationId": "retrieve-document",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          },
          {
            "name": "doc_id",
            "in": "path",
            "description": "Document ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "09e9bda2414c42bcb4dab5240b9013b6"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/employment/": {
      "get": {
        "tags": [
          "Employment"
        ],
        "summary": "Retrieve an employment",
        "description": "Get the most recent employment data",
        "operationId": "link-last-employemet",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmploymentLinked"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/employment/report/": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve an employment history report for a link",
        "description": "The endpoint returns the VOE report for a link",
        "operationId": "link_detail_reports_employment",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmploymentCheck"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/employments/": {
      "get": {
        "tags": [
          "Employment"
        ],
        "summary": "List all employments",
        "description": "The endpoint returns list of all employments.",
        "operationId": "link-employments",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmploymentLinked"
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/identity/": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Retrieve an identity",
        "description": "Get the identity data for the user",
        "operationId": "link-identity",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/income/report/": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve an income and employment report for a link",
        "description": "The endpoint returns the VOIE report for a link",
        "operationId": "link_detail_reports_income",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomeCheck"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/income/transactions/reports/": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Creates a bank income report",
        "description": "The endpoint creates a bank income report for a Link.",
        "operationId": "bank-income-report-create",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankIncomeReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "report_id"
                  ],
                  "type": "object",
                  "properties": {
                    "report_id": {
                      "type": "string",
                      "description": "Unique ID for the bank income report request.",
                      "example": "48427a36d43c4d5aa6324bc06c692456"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/links/{link_id}/income/transactions/reports/{report_id}/": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Retrieves a bank income report",
        "description": "The endpoint retrieves a bank income report for a Link.",
        "operationId": "bank-income-report-retrieve",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          },
          {
            "name": "report_id",
            "in": "path",
            "description": "Unique ID for the bank income report",
            "required": true,
            "schema": {
              "type": "string",
              "default": "48427a36d43c4d5aa6324bc06c692456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankIncomeReport"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/insurance/report/": {
      "get": {
        "tags": [
          "Insurance Reports"
        ],
        "summary": "Retrieve an insurance report",
        "description": "The endpoint returns the Insurance report.",
        "operationId": "link_detail_reports_insurance",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceReport"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/insurance/report/auto/": {
      "get": {
        "tags": [
          "Insurance Reports"
        ],
        "summary": "Retrieve an auto insurance report",
        "description": "The endpoint returns the auto insurance report.",
        "operationId": "link_detail_reports_insurance_auto",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoInsuranceReport"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/insurance/report/home/": {
      "get": {
        "tags": [
          "Insurance Reports"
        ],
        "summary": "Retrieve an home insurance report",
        "description": "The endpoint returns the home insurance report.",
        "operationId": "link_detail_reports_insurance_home",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomeInsuranceReport"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/pll/report/": {
      "get": {
        "tags": [
          "Deposit Switch Reports"
        ],
        "summary": "Retrieve a paycheck linked loan report",
        "description": "The endpoint returns the PLL report.",
        "operationId": "link_detail_reports_pll",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PLLDetail"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/shifts/": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "List all shifts",
        "description": "The endpoint returns ongoing and completed work shifts. It includes time entries (clock in/clock out), the type of work, and earnings.",
        "operationId": "link-shifts",
        "parameters": [
          {
            "name": "start_date_from",
            "in": "query",
            "description": "Filter `start_date` greater than or equal  (ISO-8601)",
            "schema": {
              "type": "string",
              "default": "2022-06-01T000:00:00.000Z"
            }
          },
          {
            "name": "start_date_to",
            "in": "query",
            "description": "Filter `start_date` less than or equal (ISO-8601)",
            "schema": {
              "type": "string",
              "default": "2022-06-01T00:00:00.000Z"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number from the shift list",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShiftsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/statements/": {
      "get": {
        "tags": [
          "Pay Statements"
        ],
        "summary": "List all statements",
        "description": "The endpoint returns list of pay statements with dates, gross pay, net pay and earnings with deductions breakdown. ",
        "operationId": "link-statements",
        "parameters": [
          {
            "name": "pay_date_from",
            "in": "query",
            "description": "Filter `pay_date` greater than or equal  (ISO-8601)",
            "schema": {
              "type": "string",
              "default": "2022-06-01T00:00:00.000Z"
            }
          },
          {
            "name": "pay_date_to",
            "in": "query",
            "description": "Filter `pay_date` less than or equal (ISO-8601)",
            "schema": {
              "type": "string",
              "default": "2022-06-02T00:00:00.000Z"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number from the statement list",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/statements/{statement_id}/": {
      "get": {
        "tags": [
          "Pay Statements"
        ],
        "summary": "Retrieve a statement",
        "description": "Get the pay statement",
        "operationId": "retrieve-statement",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          },
          {
            "name": "statement_id",
            "in": "path",
            "description": "Statement ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "39d7e80942ce4ad58a93f70ce4115ccc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Statement"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/tax/": {
      "get": {
        "tags": [
          "Tax Documents"
        ],
        "summary": "List all tax documents",
        "description": "The endpoint returns a list of tax documents.",
        "operationId": "tax-documents",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaxDocument"
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/tax/{tax_id}/": {
      "get": {
        "tags": [
          "Tax Documents"
        ],
        "summary": "Retrieve tax document",
        "description": "The endpoint returns a tax document.",
        "operationId": "tax-document",
        "parameters": [
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          },
          {
            "name": "tax_id",
            "in": "path",
            "description": "Tax Document ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxDocumentRetrieve"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/links/{link_id}/transactions/": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List all bank transactions",
        "description": "The endpoint allows developers to receive user-authorized transaction data.",
        "operationId": "link-bank-data-transactions",
        "parameters": [
          {
            "name": "account_ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transacted_at_from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transacted_at_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "link_id",
            "in": "path",
            "description": "Link ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "24d7e80942ce4ad58a93f70ce4115f5c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create an order",
        "description": "The endpoint creates an order",
        "operationId": "v1_orders_create",
        "requestBody": {
          "description": "An Order for a user to link an account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/orders/lookup/": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Get list of orders by SSN",
        "description": "The endpoint returns a list of orders by an applicant SSN",
        "operationId": "orders_list_lookup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderGroupSSNSearch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderListResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/orders/{id}/": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Retrieve an order",
        "description": "The endpoint returns the order.",
        "operationId": "v1_orders_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID received from the POST request",
            "required": true,
            "schema": {
              "type": "string",
              "default": "48427a36d43c4d5aa6324bc06c692456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a data refresh order",
        "description": "The endpoint creates the new order with data populated from the existing order.",
        "operationId": "orders_create_refresh_order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID received from the POST request",
            "required": true,
            "schema": {
              "type": "string",
              "default": "48427a36d43c4d5aa6324bc06c692456"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefreshOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      },
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Update an order",
        "description": "The endpoint updates the order. Update only available if all employers in one of statuses: pending, sent.",
        "operationId": "v1_orders_partial_update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID received from the POST request",
            "required": true,
            "schema": {
              "type": "string",
              "default": "48427a36d43c4d5aa6324bc06c692456"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Empty body",
            "content": {}
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/orders/{id}/cancel/": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel an order",
        "description": "The endpoint cancels the order.",
        "operationId": "v1_orders_cancel_create",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID received from the POST request",
            "required": true,
            "schema": {
              "type": "string",
              "default": "48427a36d43c4d5aa6324bc06c692456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{id}/employers/": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Add new employer to the existing order",
        "description": "The endpoint allows to add new employer to the existing order. The order should not be expired or canceled.",
        "operationId": "order-add-new-employer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID received from the POST request",
            "required": true,
            "schema": {
              "type": "string",
              "default": "48427a36d43c4d5aa6324bc06c692456"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployerAdd"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployerResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/providers/": {
      "get": {
        "tags": [
          "Companies and Data Providers"
        ],
        "summary": "List all data providers",
        "description": "The endpoint returns a list of data providers filtered by the query parameter `product_type`.",
        "operationId": "providers-list",
        "parameters": [
          {
            "name": "data_source",
            "in": "query",
            "description": "Data source",
            "schema": {
              "type": "string",
              "enum": [
                "payroll",
                "docs",
                "insurance",
                "financial_accounts",
                "tax",
                "scoring_attributes"
              ]
            }
          },
          {
            "name": "product_type",
            "in": "query",
            "description": "Product type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "income",
              "enum": [
                "income",
                "employment",
                "deposit_switch",
                "pll",
                "insurance",
                "transactions",
                "assets",
                "admin"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results. The default is by ascending `id`.",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "-id",
                "name",
                "-name",
                "rank",
                "-rank"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/providers/{id}/": {
      "get": {
        "tags": [
          "Companies and Data Providers"
        ],
        "summary": "Retrieve a data provider",
        "description": "This endpoint retrieves a data provider.",
        "operationId": "providers-detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique value identifying this data provider.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_type",
            "in": "query",
            "description": "Product type",
            "schema": {
              "type": "string",
              "enum": [
                "income",
                "employment",
                "deposit_switch",
                "pll",
                "insurance",
                "transactions",
                "assets",
                "admin"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/refresh/tasks/": {
      "post": {
        "tags": [
          "Data Refresh"
        ],
        "summary": "Create a data refresh task",
        "description": "The endpoint creates a link data refresh task.",
        "operationId": "refresh_task_create",
        "requestBody": {
          "description": "Link data refresh task",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTaskCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTaskCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/refresh/tasks/{task_id}/": {
      "get": {
        "tags": [
          "Data Refresh"
        ],
        "summary": "Retrieve a data refresh status",
        "description": "The endpoint returns the refresh task status.",
        "operationId": "refresh_task",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Task ID received from the POST request",
            "required": true,
            "schema": {
              "type": "string",
              "default": "48427a36d43c4d5aa6324bc06c692456"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTask"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates/": {
      "get": {
        "tags": [
          "Customization Templates"
        ],
        "summary": "List all customization templates",
        "description": "The endpoint returns a list of all customization templates for user.",
        "operationId": "v1_templates_list",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "default_for_products",
            "in": "query",
            "description": "Default for products",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Filter by products",
            "schema": {
              "type": "string",
              "enum": [
                "income",
                "employment",
                "deposit_switch",
                "pll",
                "insurance",
                "transactions",
                "assets",
                "admin"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomizationTemplate"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customization Templates"
        ],
        "summary": "Create a customization template",
        "description": "The endpoint creates a customization template.",
        "operationId": "v1_templates_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizationTemplateRequestCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomizationTemplate"
                }
              }
            }
          },
          "400": {
            "description": "HTTP 400 Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/templates/{template_id}/": {
      "get": {
        "tags": [
          "Customization Templates"
        ],
        "summary": "Retrieve a customization template",
        "description": "This endpoint retrieves a customization template.",
        "operationId": "v1_templates_read",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomizationTemplate"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customization Templates"
        ],
        "summary": "Delete a customization template",
        "description": "The endpoint deletes a customization template.",
        "operationId": "v1_templates_delete",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customization Templates"
        ],
        "summary": "Update a customization template",
        "description": "The endpoint updates a customization template.",
        "operationId": "v1_templates_partial_update",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomizationTemplateRequestUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomizationTemplate"
                }
              }
            }
          },
          "401": {
            "description": "HTTP 401 Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "403": {
            "description": "HTTP 403 Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error403"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "data"
      }
    },
    "/v1/users/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List all users",
        "description": "The endpoint returns a list of users.",
        "operationId": "v1_users_list",
        "parameters": [
          {
            "name": "created_at__lte",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at__gte",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link_exists",
            "in": "query",
            "description": "If not set, returns all users; otherwise, returns users with/without attempts.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "list_links",
            "in": "query",
            "description": "When set to true, for each user adds the payload from the account links endpoint.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
[...]
